.comments {
  padding: $mdSpace $xsSpace;

  @include screen('sm', 'md') {
    padding: $mdSpace;
  }

  @include screen('lg', 'xxl') {
    padding: $mdSpace $lgSpace;
  }
}

#disqus_thread {
  a {
    color: $accentColor;
  }
}