@charset "UTF-8";
body[theme=light] {
  color: #5e5e5e;
  background: #f4f1f4;
  scrollbar-color: light;
}
body[theme=light]::-webkit-scrollbar-track {
  background: white;
}
body[theme=light]::-webkit-scrollbar-thumb {
  background: #ff5789;
  border: 2px solid white;
}
body[theme=light] .badge,
body[theme=light] .separator {
  background: #f2f2f2;
}
body[theme=light] .navigation .separator {
  background: rgba(0, 0, 0, 0.06);
}
body[theme=light] .article-item .article-item-thumbnail {
  background: #e6e6e6;
}
body[theme=light] .nav-bar {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.15);
}
@media (max-width: 479px) {
  body[theme=light] .navigation {
    background: #f4f1f4;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body[theme=light] .navigation {
    background: #f4f1f4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body[theme=light] .navigation {
    background: #f4f1f4;
  }
}
body[theme=light] .search-container {
  background: white;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.15);
}
body[theme=light] .search-container .search-input::placeholder {
  color: #c4c4c4;
}
body[theme=light] .pagination .pagination-link.disable {
  color: #c4c4c4;
  opacity: 0.7;
}
body[theme=light] .search-container .search-button::before,
body[theme=light] .nav-list .nav-link::before,
body[theme=light] .nav-button::before,
body[theme=light] .social-nav .social-link::before,
body[theme=light] .sidebar-nav .sidebar-link::before,
body[theme=light] .article-item .article-item-more::before,
body[theme=light] .pagination .pagination-arrow::before,
body[theme=light] .pagination .pagination-link::before,
body[theme=light] .subject-card .subject-list-link::before,
body[theme=light] .link-button::before {
  background: rgba(0, 0, 0, 0.06);
}
body[theme=light] .animated-icon-menu .line {
  background: #5e5e5e;
}
body[theme=light] .page-header .container h1,
body[theme=light] .article-item .article-item-time,
body[theme=light] .subject-card .subject-title {
  background: rgba(255, 255, 255, 0.9);
}
body[theme=light] .panel {
  background: white;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.15);
}
body[theme=light] .main-footer {
  background: white;
}
body[theme=light] .article-item-author,
body[theme=light] .pagination .pagination-link.active {
  color: white;
}
body[theme=light] .article-format blockquote {
  background: #f2f2f2;
  border-left: 4px solid #bababa;
}
body[theme=light] .article-format blockquote::before {
  color: #e6e6e6;
}
body[theme=light] .article-format ul ul ul li::marker,
body[theme=light] .article-format ol ol ol li::marker {
  color: #5e5e5e;
}
body[theme=light] .article-format table td {
  border-bottom: 1px solid #f2f2f2;
}
body[theme=light] .article-format pre,
body[theme=light] .info {
  background: #f2f2f2;
}
body[theme=light] .gallery .gallery-link {
  color: black;
}
body[theme=light] .subject-card .subject-list-link {
  border-bottom: 1px solid #f2f2f2;
}
body[theme=light] .header-404 {
  color: white;
  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

body[theme=dark] {
  color: #d6d6d6;
  background: #2a272a;
  scrollbar-color: dark;
}
body[theme=dark]::-webkit-scrollbar-track {
  background: #333333;
}
body[theme=dark]::-webkit-scrollbar-thumb {
  background: #333333;
  border: 2px solid #ff5789;
}
body[theme=dark] .badge,
body[theme=dark] .separator {
  background: #262626;
}
body[theme=dark] .navigation .separator {
  background: rgba(255, 255, 255, 0.07);
}
body[theme=dark] .article-item .article-item-thumbnail {
  background: #303030;
}
body[theme=dark] .nav-bar {
  background: rgba(51, 51, 51, 0.8);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 479px) {
  body[theme=dark] .navigation {
    background: #2a272a;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body[theme=dark] .navigation {
    background: #2a272a;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body[theme=dark] .navigation {
    background: #2a272a;
  }
}
body[theme=dark] .search-container {
  background: #333333;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.5);
}
body[theme=dark] .search-container .search-input::placeholder {
  color: #6e6e6e;
}
body[theme=dark] .pagination .pagination-link.disable {
  color: #6e6e6e;
}
body[theme=dark] .search-container .search-button::before,
body[theme=dark] .nav-list .nav-link::before,
body[theme=dark] .nav-button::before,
body[theme=dark] .social-nav .social-link::before,
body[theme=dark] .sidebar-nav .sidebar-link::before,
body[theme=dark] .article-item .article-item-more::before,
body[theme=dark] .pagination .pagination-arrow::before,
body[theme=dark] .pagination .pagination-link::before,
body[theme=dark] .subject-card .subject-list-link::before,
body[theme=dark] .link-button::before {
  background: rgba(255, 255, 255, 0.07);
}
body[theme=dark] .animated-icon-menu .line {
  background: #d6d6d6;
}
body[theme=dark] .page-header .container h1,
body[theme=dark] .article-item .article-item-time,
body[theme=dark] .subject-card .subject-title {
  background: rgba(51, 51, 51, 0.9);
}
body[theme=dark] .panel {
  background: #333333;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.5);
}
body[theme=dark] .main-footer {
  background: #333333;
}
body[theme=dark] .article-item-author,
body[theme=dark] .pagination .pagination-link.active {
  color: black;
}
body[theme=dark] .article-format blockquote {
  background: #262626;
  border-left: 4px solid #595959;
}
body[theme=dark] .article-format blockquote::before {
  color: #303030;
}
body[theme=dark] .article-format ul ul ul li::marker,
body[theme=dark] .article-format ol ol ol li::marker {
  color: #d6d6d6;
}
body[theme=dark] .article-format table td {
  border-bottom: 1px solid #262626;
}
body[theme=dark] .article-format pre,
body[theme=dark] .info {
  background: #262626;
}
body[theme=dark] .gallery .gallery-link {
  color: white;
}
body[theme=dark] .subject-card .subject-list-link {
  border-bottom: 1px solid #262626;
}
body[theme=dark] .header-404 {
  color: #333333;
  text-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 479px) {
  body.expand-nav .nav-bar {
    transform: translateX(calc(-100% + 80px));
  }
  body.expand-nav .animated-icon-menu .line:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(2) {
    transform: translateY(-50%) scaleX(0);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-50%);
  }
  body.expand-nav::before {
    opacity: 1;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body.expand-nav .nav-bar {
    transform: translateX(calc(-100% + 80px));
  }
  body.expand-nav .animated-icon-menu .line:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(2) {
    transform: translateY(-50%) scaleX(0);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-50%);
  }
  body.expand-nav::before {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body.expand-nav .nav-bar {
    transform: translateX(calc(-100% + 80px));
  }
  body.expand-nav .animated-icon-menu .line:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(2) {
    transform: translateY(-50%) scaleX(0);
  }
  body.expand-nav .animated-icon-menu .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-50%);
  }
  body.expand-nav::before {
    opacity: 1;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: transform;
  transition: transform 0.4s ease-out;
  z-index: 10;
}

.nav-logo-container {
  flex-shrink: 1;
  padding: 24px;
}
.nav-logo-container .nav-logo {
  display: block;
  width: 100%;
  max-width: 230px;
  position: relative;
  top: 5px;
}

.nav-flex {
  display: flex;
  flex-shrink: 0;
}

.navigation {
  position: absolute;
  left: 100%;
  width: calc(100% - 80px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .navigation {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
  }
  .navigation .separator {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .navigation {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
  }
  .navigation .separator {
    display: none;
  }
}
@media (min-width: 1500px) {
  .navigation {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
  }
  .navigation .separator {
    display: none;
  }
}

#show-search {
  display: none;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  #show-search {
    display: flex;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  #show-search {
    display: flex;
  }
}
@media (min-width: 1500px) {
  #show-search {
    display: flex;
  }
}

.search-form {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  flex-shrink: 0;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .search-form {
    position: fixed;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50px);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    max-width: 1148px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  .search-form.show {
    transform: translate(-50%, 0px);
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .search-form {
    position: fixed;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50px);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    max-width: 1148px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  .search-form.show {
    transform: translate(-50%, 0px);
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 1500px) {
  .search-form {
    position: fixed;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50px);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    max-width: 1148px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  .search-form.show {
    transform: translate(-50%, 0px);
    opacity: 1;
    pointer-events: all;
  }
}
.search-form .search-container {
  height: 54px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.search-form .search-container .search-input {
  height: 54px;
  font-family: inherit;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  padding: 0 24px;
  width: 100%;
  flex-shrink: 1;
  color: inherit;
  outline: none;
}
.search-form .search-container .search-focus-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 10px;
  border: 1px solid #ff5789;
  opacity: 0;
  will-change: transform;
  transition: opacity 0.2s ease-out;
}
.search-form .search-container .search-input:focus ~ .search-focus-mark {
  opacity: 1;
}
.search-form .search-container .search-button {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background: transparent;
  color: inherit;
  position: relative;
  padding: 0;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.search-form .search-container .search-button:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.search-form .search-container .search-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.search-form .search-container .search-button:hover::before {
  opacity: 1;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .nav-list {
    flex-direction: row;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .nav-list {
    flex-direction: row;
  }
}
@media (min-width: 1500px) {
  .nav-list {
    flex-direction: row;
  }
}
.nav-list .nav-item {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.nav-list .nav-item .nav-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 24px;
  height: 80px;
  line-height: 32px;
  position: relative;
  z-index: 1;
  outline: none;
}
.nav-list .nav-item .nav-link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.nav-list .nav-item .nav-link.active::after {
  content: "";
  display: block;
  height: 100%;
  width: 10px;
  background: #ff5789;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: -5px;
  z-index: 2;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .nav-list .nav-item .nav-link.active::after {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .nav-list .nav-item .nav-link.active::after {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
  }
}
@media (min-width: 1500px) {
  .nav-list .nav-item .nav-link.active::after {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
  }
}
.nav-list .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.nav-list .nav-item .nav-link:hover::before {
  opacity: 1;
}

.nav-button {
  height: 80px;
  flex-shrink: 0;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-family: inherit;
  font-size: 2.1rem;
  outline: none;
}
.nav-button:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.nav-button .label {
  line-height: 32px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .nav-button .label {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .nav-button .label {
    display: none;
  }
}
@media (min-width: 1500px) {
  .nav-button .label {
    display: none;
  }
}
.nav-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.nav-button:hover::before {
  opacity: 1;
}

.animated-icon-menu {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
}
.animated-icon-menu .line {
  display: block;
  position: absolute;
  height: 2px;
  width: 32px;
  border-radius: 1px;
  top: 50%;
  will-change: transform;
  transition: transform 0.2s ease-out;
}
.animated-icon-menu .line:nth-child(1) {
  transform: rotate(0deg) translateY(-550%);
}
.animated-icon-menu .line:nth-child(2) {
  transform: translateY(-50%) scaleX(1);
}
.animated-icon-menu .line:nth-child(3) {
  transform: rotate(0deg) translateY(450%);
}

@media (min-width: 1024px) and (max-width: 1199px) {
  #mobile-toggle {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  #mobile-toggle {
    display: none;
  }
}
@media (min-width: 1500px) {
  #mobile-toggle {
    display: none;
  }
}

.page-header {
  height: 400px;
  position: relative;
  margin-bottom: -100px;
}
.page-header .header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-header .container {
  position: relative;
  padding-top: 104px;
  padding-bottom: 124px;
  z-index: 1;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header .container h1 {
  font-weight: 400;
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: 20px;
  text-align: center;
}

.article-item {
  overflow: hidden;
  margin-bottom: 40px;
}
.article-item .article-item-main {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}
.article-item .article-item-main:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.article-item .article-item-main .article-item-thumbnail {
  display: block;
  height: 140px;
  position: relative;
  z-index: 0;
  margin: 0;
  overflow: hidden;
}
.article-item .article-item-main .article-item-thumbnail .article-item-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  will-change: transform;
  transition: transform 4s ease-out;
}
.article-item .article-item-main:hover .article-item-image {
  transform: scale(1.05);
}
.article-item .article-item-main .article-item-time {
  width: 110px;
  height: 110px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-item .article-item-main .article-item-time span:nth-child(1) {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 700;
}
.article-item .article-item-main .article-item-time span:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 3px;
  margin-bottom: 4px;
}
.article-item .article-item-main .article-item-time span:nth-child(3) {
  font-weight: 700;
}
.article-item .article-item-main header h1 {
  font-weight: 400;
  font-size: 2.1rem;
  margin: 0;
  padding: 15px 24px 0 24px;
}
.article-item .article-item-main .article-item-body {
  font-size: 1.8rem;
  margin: 0;
  padding: 15px 24px;
}
.article-item .article-item-footer {
  display: grid;
  grid-template-areas: "tags tags" "sepa sepa" "auth more";
  grid-template-columns: 80px 1fr;
  align-items: center;
  justify-items: center;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .article-item .article-item-footer {
    grid-template-areas: "sepa sepa sepa" "auth tags more";
    grid-template-columns: 64px 1fr auto;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .article-item .article-item-footer {
    grid-template-areas: "sepa sepa sepa" "auth tags more";
    grid-template-columns: 64px 1fr auto;
  }
}
@media (min-width: 1500px) {
  .article-item .article-item-footer {
    grid-template-areas: "sepa sepa sepa" "auth tags more";
    grid-template-columns: 64px 1fr auto;
  }
}
.article-item .article-item-footer .separator {
  grid-area: sepa;
  width: 100%;
}
.article-item .article-item-footer .article-item-details {
  width: 100%;
  padding: 0 24px 11px 24px;
  margin-top: -4px;
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .article-item .article-item-footer .article-item-details {
    padding: 11px 0;
    margin-top: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .article-item .article-item-footer .article-item-details {
    padding: 11px 0;
    margin-top: 0;
  }
}
@media (min-width: 1500px) {
  .article-item .article-item-footer .article-item-details {
    padding: 11px 0;
    margin-top: 0;
  }
}
.article-item .article-item-footer .article-item-author {
  grid-area: auth;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  outline: none;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .article-item .article-item-footer .article-item-author {
    margin-left: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .article-item .article-item-footer .article-item-author {
    margin-left: 16px;
  }
}
@media (min-width: 1500px) {
  .article-item .article-item-footer .article-item-author {
    margin-left: 16px;
  }
}
.article-item .article-item-footer .article-item-author:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.article-item .article-item-footer .article-item-author:hover {
  opacity: 0.7;
}
.article-item .article-item-footer .article-item-author.vm {
  background: #5cd9ff;
}
.article-item .article-item-footer .article-item-author.mk {
  background: #ff5c5c;
}
.article-item .article-item-footer .link {
  flex-shrink: 0;
  margin: 4px 8px 4px 0px;
  height: 24px;
}
.article-item .article-item-footer .article-item-more {
  width: 100%;
  grid-area: more;
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 24px;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: none;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;
  margin-left: auto;
}
.article-item .article-item-footer .article-item-more:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.article-item .article-item-footer .article-item-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  border-bottom-right-radius: 20px;
}
.article-item .article-item-footer .article-item-more:hover::before {
  opacity: 1;
}

.article {
  margin-bottom: 40px;
}
.article .article-details {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  align-items: center;
}
.article .article-time {
  font-size: 1.6rem;
  margin: 4px 8px 4px 0px;
}
.article .article-time i {
  position: relative;
  top: -1px;
}
.article .badge.link {
  margin: 4px 8px 4px 0px;
}
.article .article-title {
  font-size: 3.6rem;
  font-weight: 400;
  margin: 0;
  padding: 0 24px 24px 24px;
}

.article-format {
  padding: 24px;
  padding-bottom: 1px;
  margin-bottom: -1px;
  line-height: 1.5em;
}
.article-format p {
  margin-bottom: 24px;
  margin-top: 0;
  text-align: justify;
}
.article-format a {
  color: #ff5789;
}
.article-format a:hover {
  opacity: 0.7;
}
.article-format h1, .article-format h2, .article-format h3, .article-format h4, .article-format h5, .article-format h6 {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: left;
}
.article-format h1 {
  font-size: 3.6rem;
  font-weight: 400;
}
.article-format h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.article-format h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff5789;
}
.article-format h4 {
  font-size: 2.4rem;
  font-weight: 400;
}
.article-format h5 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.article-format h6 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff5789;
}
.article-format blockquote {
  margin: 0;
  text-align: left;
  padding: 24px;
  font-size: 1.8rem;
  line-height: 1.5em;
  position: relative;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 24px;
  font-style: italic;
}
.article-format blockquote::before {
  content: "";
  font-family: IcoFont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 64px;
  z-index: -1;
}
.article-format ul, .article-format ol {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 46px;
  font-size: 1.8rem;
  text-align: left;
}
.article-format ul {
  list-style-type: disc;
}
.article-format ul li::marker {
  color: #ff5789;
  font-size: 2.1rem;
  line-height: 0.5em;
}
.article-format ul ul {
  list-style-type: circle;
}
.article-format ul ul ul {
  list-style-type: disc;
}
.article-format ul ul ul li::marker {
  font-size: 1em;
}
.article-format ol {
  list-style-type: decimal;
}
.article-format ol li::marker {
  color: #ff5789;
  font-weight: 700;
}
.article-format ol ol {
  list-style-type: lower-latin;
}
.article-format ol ol ol {
  list-style-type: upper-roman;
}
.article-format img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}
.article-format .table-scroll {
  overflow-x: auto;
  margin-bottom: 24px;
}
.article-format .table-scroll table {
  margin-bottom: 0;
}
.article-format table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.8rem;
  margin-bottom: 24px;
}
.article-format table th {
  border-bottom: 2px solid #ff5789;
  padding: 12px 24px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
.article-format table td {
  padding: 12px 24px;
}
.article-format table tbody tr {
  position: relative;
  z-index: 1;
}
.article-format table tbody tr:hover {
  color: #ff5789;
}
.article-format table tbody tr:last-child td {
  border-bottom: none;
}
.article-format pre {
  display: block;
  font-size: 1.8rem;
  padding: 24px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.35em;
  overflow-x: auto;
}
.article-format hr {
  margin-top: 0;
  margin-bottom: 24px;
  display: block;
  height: 2px;
  background: #ff5789;
  border: none;
  border-radius: 1px;
  width: 150px;
}

.profile-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-card {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .profile-card:nth-child(even) .content {
    order: -1;
    text-align: right;
    margin-left: 0;
    margin-right: 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .profile-card {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .profile-card:nth-child(even) .content {
    order: -1;
    text-align: right;
    margin-left: 0;
    margin-right: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .profile-card {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .profile-card:nth-child(even) .content {
    order: -1;
    text-align: right;
    margin-left: 0;
    margin-right: 24px;
  }
}
@media (min-width: 1500px) {
  .profile-card {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .profile-card:nth-child(even) .content {
    order: -1;
    text-align: right;
    margin-left: 0;
    margin-right: 24px;
  }
}
.profile-card .avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  flex-shrink: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-card .content {
    margin-left: 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .profile-card .content {
    margin-left: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .profile-card .content {
    margin-left: 24px;
  }
}
@media (min-width: 1500px) {
  .profile-card .content {
    margin-left: 24px;
  }
}
.profile-card .content .profile-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: #ff5789;
  margin-top: 12px;
  margin-bottom: 12px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-card .content .profile-name {
    margin-top: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .profile-card .content .profile-name {
    margin-top: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .profile-card .content .profile-name {
    margin-top: 0;
  }
}
@media (min-width: 1500px) {
  .profile-card .content .profile-name {
    margin-top: 0;
  }
}
.profile-card .content .profile-description {
  font-size: 1.8rem;
  margin: 0;
}
.profile-card.mk .profile-name {
  color: #ff5c5c;
}
.profile-card.vm .profile-name {
  color: #5cd9ff;
}

.comments {
  padding: 24px;
}

#disqus_thread a {
  color: #ff5789;
}

.sidebar {
  margin-bottom: 40px;
  flex-shrink: 0;
  padding: 12px 0;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .sidebar {
    margin-left: 40px;
    width: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .sidebar {
    margin-left: 40px;
    width: 300px;
  }
}
@media (min-width: 1500px) {
  .sidebar {
    margin-left: 40px;
    width: 300px;
  }
}
.sidebar h1 {
  font-size: 1.8rem;
  margin: 0;
  padding: 15px 24px;
  text-transform: uppercase;
}

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}
.sidebar-nav .sidebar-item {
  display: block;
  margin: 0;
  padding: 0;
}
.sidebar-nav .sidebar-item .sidebar-link {
  display: flex;
  padding: 12px 24px;
  outline: none;
  position: relative;
  z-index: 1;
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  align-items: center;
}
.sidebar-nav .sidebar-item .sidebar-link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.sidebar-nav .sidebar-item .sidebar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.sidebar-nav .sidebar-item .sidebar-link:hover::before {
  opacity: 1;
}
.sidebar-nav .badge {
  position: relative;
  z-index: -2;
}

.users-list .user-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.users-list .user-name {
  padding-left: 12px;
}

.pagination {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(54px, 1fr));
}
.pagination .pagination-link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  outline: none;
  min-height: 54px;
}
.pagination .pagination-link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.pagination .pagination-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.pagination .pagination-link:hover::before {
  opacity: 1;
}
.pagination .pagination-item {
  display: block;
}
.pagination .pagination-link.active {
  background: #ff5789;
  pointer-events: none;
}
.pagination .pagination-link.disable {
  pointer-events: none;
}

.gallery {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  margin-bottom: 24px;
}
.gallery .gallery-link {
  display: block;
  position: relative;
  padding-top: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: inherit;
}
.gallery .gallery-link .gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transition: transform 4s ease-out, opacity 0.2s ease-out;
}
.gallery .gallery-link::before {
  content: "";
  font-family: IcoFont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  z-index: 1;
  transform: translate(-50%, -50%);
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.gallery .gallery-link:hover {
  opacity: 1;
}
.gallery .gallery-link:hover .gallery-image {
  transform: scale(1.1);
  opacity: 0.5;
}
.gallery .gallery-link:hover::before {
  opacity: 1;
}

.page {
  margin-bottom: 40px;
}
.page .article-format {
  padding: 40px 24px;
  padding-bottom: 1px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: -1px;
}
.page .article-format img {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}
.page .article-format p,
.page .article-format h1,
.page .article-format h2,
.page .article-format h3,
.page .article-format h4,
.page .article-format h5,
.page .article-format h6,
.page .article-format hr,
.page .article-format blockquote,
.page .article-format img,
.page .article-format ol,
.page .article-format ul,
.page .article-format table,
.page .article-format .table-scroll,
.page .article-format pre,
.page .article-format .gallery {
  margin-bottom: 40px;
}
.page .article-format .table-scroll table {
  margin-bottom: 0;
}
.page .article-format h1, .page .article-format h2, .page .article-format h3, .page .article-format h4, .page .article-format h5, .page .article-format h6, .page .article-format p {
  text-align: center;
}
.page .article-format .profiles {
  margin-top: -24px;
  margin-bottom: calc(40px - 24px);
}
.page .article-format .profile-card img {
  margin: 0;
}
.page .article-format .profile-card p, .page .article-format .profile-card h1 {
  text-align: inherit;
}
.page .article-format .social-nav {
  padding: 0;
  margin-bottom: 40px;
}
.page .article-format .social-nav a:hover {
  opacity: 1;
}

.subject-card {
  overflow: hidden;
}
.subject-card .subject-header-link {
  color: inherit;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
  min-height: 140px;
  text-decoration: none;
  outline: none;
}
.subject-card .subject-header-link:focus {
  box-shadow: 0 0 0 1px #ff5789;
}
.subject-card .subject-header-link .subject-thumbnail {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.subject-card .subject-header-link .subject-thumbnail .subject-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: transform 4s ease-out;
}
.subject-card .subject-header-link:hover .subject-image {
  transform: scale(1.05);
}
.subject-card .subject-header-link .subject-title {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 0;
  display: inline-block;
}
.subject-card .subject-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subject-card .subject-list .subject-list-item {
  display: block;
}
.subject-card .subject-list .subject-list-item .subject-list-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  font-size: 1.6rem;
  padding: 15px 24px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  outline: none;
}
.subject-card .subject-list .subject-list-item .subject-list-link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.subject-card .subject-list .subject-list-item .subject-list-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.subject-card .subject-list .subject-list-item .subject-list-link:hover::before {
  opacity: 1;
}
.subject-card .subject-list .subject-list-item .subject-list-link .badge {
  position: relative;
  z-index: -2;
}
.subject-card .subject-list .subject-list-item .subject-list-link .subject-list-label {
  display: block;
  padding-right: 15px;
}
.subject-card .subject-list .subject-list-item:last-child .subject-list-link {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: none;
}

.header-404 {
  text-align: center;
  font-size: 35vw;
  line-height: 225px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-404 {
    font-size: 225px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header-404 {
    font-size: 225px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .header-404 {
    font-size: 225px;
  }
}
@media (min-width: 1500px) {
  .header-404 {
    font-size: 225px;
  }
}

.content-404 {
  text-align: center;
  margin-bottom: 40px;
}
.content-404 p {
  margin: 24px 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #ff5789;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-size: 2.1rem;
  overflow-x: hidden;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  pointer-events: none;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.badge {
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 12px;
  padding: 5px 12px 3px 12px;
}
.badge.link {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.badge.link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.badge.link:hover {
  opacity: 0.7;
}

.separator {
  height: 1px;
}

.sm-icofont {
  font-size: 16px;
}

.md-icofont {
  font-size: 24px;
}

.lg-icofont {
  font-size: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1148px;
  width: 100%;
  padding: 0 24px;
  position: relative;
  z-index: 1;
}

.main-wrapper {
  min-height: calc(100vh - 300px - 142px);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .main-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .main-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1500px) {
  .main-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.grid-wrapper {
  min-height: calc(100vh - 300px - 142px);
  max-width: 2360px;
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: min-content;
  padding-bottom: 40px;
  align-items: start;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1500px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.panel {
  border-radius: 20px;
}

.main-content {
  flex-shrink: 0;
  width: 100%;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .main-content {
    flex-shrink: 1;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .main-content {
    flex-shrink: 1;
  }
}
@media (min-width: 1500px) {
  .main-content {
    flex-shrink: 1;
  }
}

.social-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 15px 24px;
}
.social-nav .social-item {
  display: block;
  margin: 0;
  padding: 0;
}
.social-nav .social-item .social-link {
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  padding: 12px;
  height: 56px;
  border-radius: 10px;
  outline: none;
}
.social-nav .social-item .social-link:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.social-nav .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  border-radius: 10px;
}
.social-nav .social-item .social-link:hover::before {
  opacity: 1;
}

.main-footer {
  padding: 60px 0;
  font-size: 1.8rem;
  text-align: center;
}
.main-footer a {
  color: #ff5789;
}
.main-footer a:hover {
  opacity: 0.7;
}

.info {
  border-radius: 10px;
  border: 1px solid #ff5789;
  padding: 24px;
  font-size: 1.8rem;
}

.link-button {
  color: #ff5789;
  font-size: 2.1rem;
  display: inline-block;
  text-align: center;
  padding: 24px;
  outline: none;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.link-button:focus {
  box-shadow: inset 0 0 0 1px #ff5789;
}
.link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  border-radius: 20px;
}
.link-button:hover::before {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
