body[theme=light] {
  color: $fontLight;
  background: $bodyLight;
  scrollbar-color: light;

  &::-webkit-scrollbar-track {
    background: $bgLight;
  }

  &::-webkit-scrollbar-thumb {
    background: $accentColor;
    border: 2px solid $bgLight;
  }

  .badge,
  .separator {
    background: $gray100Light;
  }

  .navigation .separator {
    background: $bgHoverLight;
  }

  .article-item .article-item-thumbnail {
    background: $gray200Light;
  }

  .nav-bar {
    background: $bgNavLight;
    box-shadow: $navShadowLight;
  }

  .navigation {
    @include screen('xs', 'md') {
      background: $bodyLight;
    }
  }

  .search-container {
    background: $bgLight;
    box-shadow: $areaShadowLight;

    .search-input::placeholder {
      color: $placeholderLight;
    }
  }

  .pagination .pagination-link.disable {
    color: $placeholderLight;
    opacity: 0.7;
  }

  .search-container .search-button::before,
  .nav-list .nav-link::before,
  .nav-button::before,
  .social-nav .social-link::before,
  .sidebar-nav .sidebar-link::before,
  .article-item .article-item-more::before,
  .pagination .pagination-arrow::before,
  .pagination .pagination-link::before {
    background: $bgHoverLight;
  }

  .animated-icon-menu .line {
    background: $fontLight;
  }

  .page-header .container h1,
  .article-item .article-item-time {
    background: $bgTransparentLight;
  }

  .panel {
    background: $bgLight;
    box-shadow: $areaShadowLight;
  }

  .main-footer {
    background: $bgLight;
  }

  .article-item-author,
  .pagination .pagination-link.active {
    color: white;
  }
}

body[theme=dark] {
  color: $fontDark;
  background: $bodyDark;
  scrollbar-color: dark;

  &::-webkit-scrollbar-track {
    background: $bgDark;
  }

  &::-webkit-scrollbar-thumb {
    background: $bgDark;
    border: 2px solid $accentColor;
  }

  .badge,
  .separator {
    background: $gray100Dark;
  }

  .navigation .separator {
    background: $bgHoverDark;
  }

  .article-item .article-item-thumbnail {
    background: $gray200Dark;
  }

  .nav-bar {
    background: $bgNavDark;
    box-shadow: $navShadowDark;
  }

  .navigation {
    @include screen('xs', 'md') {
      background: $bodyDark;
    }
  }

  .search-container {
    background: $bgDark;
    box-shadow: $areaShadowDark;

    .search-input::placeholder {
      color: $placeholderDark;
    }
  }

  .pagination .pagination-link.disable {
    color: $placeholderDark;
  }

  .search-container .search-button::before,
  .nav-list .nav-link::before,
  .nav-button::before,
  .social-nav .social-link::before,
  .sidebar-nav .sidebar-link::before,
  .article-item .article-item-more::before,
  .pagination .pagination-arrow::before,
  .pagination .pagination-link::before {
    background: $bgHoverDark;
  }

  .animated-icon-menu .line {
    background: $fontDark;
  }

  .page-header .container h1,
  .article-item .article-item-time {
    background: $bgTransparentDark;
  }

  .panel {
    background: $bgDark;
    box-shadow: $areaShadowDark;
  }

  .main-footer {
    background: $bgDark;
  }

  .article-item-author,
  .pagination .pagination-link.active {
    color: black;
  }
}