body.light {
  color: $fontLight;
  background: $bodyLight;
  scrollbar-color: light;

  &::-webkit-scrollbar-track,
  .main-footer {
    background: $bgLight;
  }

  &::-webkit-scrollbar-thumb {
    background: $accentColor;
    border: 2px solid $bgLight;
  }

  .badge,
  .separator,
  .article-format pre,
  .info {
    background: $gray100Light;
  }

  .article-item .article-item-thumbnail {
    background: $gray200Light;
  }

  .nav-bar {
    background: $bgNavLight;
    box-shadow: $navShadowLight;
  }

  .navigation {
    @include screen('xs', 'md') {
      background: $bodyLight;
    }
  }

  .search-container {
    background: $bgLight;
    box-shadow: $areaShadowLight;

    .search-input::placeholder {
      color: $placeholderLight;
    }
  }

  .pagination .pagination-link.disable {
    color: $placeholderLight;
    opacity: 0.7;
  }

  .navigation .separator,
  .nav-logo-container::before,
  .search-container .search-button::before,
  .nav-list .nav-link::before,
  .nav-button::before,
  .social-nav .social-link::before,
  .sidebar-nav .sidebar-link::before,
  .article-item .article-item-more::before,
  .pagination .pagination-arrow::before,
  .pagination .pagination-link::before,
  .subject-card .subject-list-link::before,
  .link-button::before {
    background: $bgHoverLight;
  }

  .animated-icon-menu .line {
    background: $fontLight;
  }

  .page-header .container h1,
  .article-item .article-item-time,
  .subject-card .subject-title {
    background: $bgTransparentLight;
  }

  .panel {
    background: $bgLight;
    box-shadow: $areaShadowLight;
  }

  .article-item-author,
  .pagination .pagination-link.active {
    color: white;
  }

  .article-format blockquote {
    background: $gray100Light;
    border-left: 4px solid $gray300Light;

    &::before {
      color: $gray200Light;
    }
  }

  .article-format ul ul ul li::marker,
  .article-format ol ol ol li::marker {
    color: $fontLight;
  }

  .gallery .gallery-link {
    color: black;
  }

  .article-format table td,
  .subject-card .subject-list-link {
    border-bottom: 1px solid $gray100Light;
  }

  .header-404 {
    color: $bgLight;
    text-shadow: $textShadowLight;
  }

  img:not(.show):not(.fslightbox-source) {
    background: black;
  }
}

body.dark {
  color: $fontDark;
  background: $bodyDark;
  scrollbar-color: dark;

  &::-webkit-scrollbar-track,
  .main-footer {
    background: $bgDark;
  }

  &::-webkit-scrollbar-thumb {
    background: $bgDark;
    border: 2px solid $accentColor;
  }

  .article-format pre,
  .info,
  .badge,
  .separator {
    background: $gray100Dark;
  }

  .article-item .article-item-thumbnail {
    background: $gray200Dark;
  }

  .nav-bar {
    background: $bgNavDark;
    box-shadow: $navShadowDark;
  }

  .navigation {
    @include screen('xs', 'md') {
      background: $bodyDark;
    }
  }

  .search-container {
    background: $bgDark;
    box-shadow: $areaShadowDark;

    .search-input::placeholder {
      color: $placeholderDark;
    }
  }

  .pagination .pagination-link.disable {
    color: $placeholderDark;
  }

  .navigation .separator,
  .nav-logo-container::before,
  .search-container .search-button::before,
  .nav-list .nav-link::before,
  .nav-button::before,
  .social-nav .social-link::before,
  .sidebar-nav .sidebar-link::before,
  .article-item .article-item-more::before,
  .pagination .pagination-arrow::before,
  .pagination .pagination-link::before,
  .subject-card .subject-list-link::before,
  .link-button::before {
    background: $bgHoverDark;
  }

  .animated-icon-menu .line {
    background: $fontDark;
  }

  .page-header .container h1,
  .article-item .article-item-time,
  .subject-card .subject-title {
    background: $bgTransparentDark;
  }

  .panel {
    background: $bgDark;
    box-shadow: $areaShadowDark;
  }

  .article-item-author,
  .pagination .pagination-link.active {
    color: black;
  }

  .article-format blockquote {
    background: $gray100Dark;
    border-left: 4px solid $gray300Dark;

    &::before {
      color: $gray200Dark;
    }
  }

  .article-format ul ul ul li::marker,
  .article-format ol ol ol li::marker {
    color: $fontDark;
  }

  .gallery .gallery-link {
    color: white;
  }

  .article-format table td,
  .subject-card .subject-list-link {
    border-bottom: 1px solid $gray100Dark;
  }

  .header-404 {
    color: $bgDark;
    text-shadow: $textShadowDark;
  }

  img:not(.show):not(.fslightbox-source) {
    background: white;
  }
}