@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  font-family: $baseFontFamily;
}

body {
  margin: 0;
  font-size: $mdFont;
  color: $fontLight;
  background: $bodyLight;

}