@import 'variables';
@import 'helpers';
@import 'theme';
@import 'partials/navigation';

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  font-family: $baseFontFamily;
}

body {
  margin: 0;
  font-size: $mdFont;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: $bodyShadowMask;
    z-index: 5;
    pointer-events: none;
    will-change: transform;
    opacity: 0;
    transition: opacity $smoothTransition;
  }
}

.separator {
  height: 1px;
}